#new-recipe-form {
    max-width: 30rem;
    display: none;
}

::placeholder {
    transition: opacity .2s, transform .3s;
}

#new-recipe-form input:focus::placeholder {
    transform: translateX(2rem);
    opacity: 0;
}

#recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.recipe {
    list-style: none;
    max-width: 35rem;
    background-color: #1095c117;
    padding: 1rem 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe .delete-btn {
    color: #c50000;
    font-size: 1.5rem;
    margin-left: auto;
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    cursor:pointer;
    transition: rotate .3s;
}

.recipe .delete-btn:hover {
    rotate: 7.5deg;
}